{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>My Projects</h1>
                    <span class="subheading">Check out some of the awesome projects I've worked on!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="project-container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <style>
            h3, ul {
                margin-left: 20px;
            }

            .spacer {
                margin-top: 20px;
            }

            .spacer-project {
                margin-top: 40px;
            }

            /* Style for floating the img to the left */
            .image-left-container {
                float: left;
                margin-right: 30px; /* Reduced margin to bring text closer */
            }

            .image-right-container {
                float: right;
                margin-left: 30px;
            }

            /* Clear floats after the img */
            .clear {
                clear: both;
            }


            </style>


            <!-- Snake Game -->
            <div class="project-card">
                <div style="height: 50px;"></div> <!-- Spacer -->
                <img class="image-left-container spacer" src="{{ url_for('static', filename='img/snakegame.gif') }}"
                     width="150" height="105" alt="Snake Game">
                <div class="project-text">
                    <a href="{{ url_for('snake')}}" class="btn btn-primary" style="float: right;">See Project</a>
                    <h3>Snake Game</h3>
                    <p>This classic snake game was built using Python and the Turtle module. It includes basic features
                        like movement, collision detection, and scoring.</p>
                    <!-- Button on the left -->

                </div>
            </div>

            <hr style="border: 1px solid #d3d3d3; margin: 20px 0;"> <!-- Light grey line between projects -->

            <!-- Turtle Crossing Game -->
            <div class="project-card">
                <div style="height: 50px;"></div> <!-- Spacer -->
                <img class="image-right-container spacer"
                     src="{{ url_for('static', filename='img/turtle_crossing.gif') }}"
                     width="150" height="105" alt="Portfolio Website">
                <div class="project-text">
                    <h3>Turtle Crossing Game</h3>
                    <p>The Turtle Crossing Game is a Python project built using the Turtle graphics library, where the
                        player controls a turtle to cross busy roads while avoiding oncoming cars. The game increases in
                        difficulty as the player advances through levels.</p>
                    <!-- Button on the right -->
                    <a href="{{ url_for('turtle')}}" class="btn btn-primary" style="float: left;">See Project</a>
                </div>
            </div>
            <br><br>
            <hr style="border: 1px solid #d3d3d3; margin: 20px 0;"> <!-- Light grey line between projects -->


            <!-- Cookie Clicker -->
            <div class="project-card">
                <div style="height: 50px;"></div> <!-- Spacer -->
                <img class="image-left-container spacer"
                     src="{{ url_for('static', filename='img/cookie_clicker.gif') }}"
                     width="150" height="105" alt="Cookie Clicker">
                <div class="project-text">
                    <a href="{{ url_for('cookie')}}" class="btn btn-primary" style="float: right;">See Project</a>
                    <h3>Cookie Clicker</h3>
                    <p>This classic snake game was built using Python and the Turtle module. It includes basic features
                        like movement, collision detection, and scoring.</p>
                    <!-- Button on the left -->

                </div>
            </div>

            <hr style="border: 1px solid #d3d3d3; margin: 20px 0;"> <!-- Light grey line between projects -->

            <!-- Project 2 -->
            <div class="project-card">
                <div style="height: 50px;"></div> <!-- Spacer -->
                <img class="image-right-container spacer"
                     src="{{ url_for('static', filename='img/turtle_crossing.gif') }}"
                     width="150" height="105" alt="Portfolio Website">
                <div class="project-text">
                    <h3>Turtle Crossing Game</h3>
                    <p>The Turtle Crossing Game is a Python project built using the Turtle graphics library, where the
                        player controls a turtle to cross busy roads while avoiding oncoming cars. The game increases in
                        difficulty as the player advances through levels.</p>
                    <!-- Button on the right -->
                    <a href="{{ url_for('turtle')}}" class="btn btn-primary" style="float: left;">See Project</a>
                </div>
            </div>
            <br><br>
            <hr style="border: 1px solid #d3d3d3; margin: 20px 0;"> <!-- Light grey line between projects -->

        </div>

    </div>
</div>

<hr>

{% include "footer.html" %}
